.colo {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 100%;
  width: 100%;
  //   background-color: red;
}

.cola {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 100%;
  width: 100%;
  //   background-color: blue;
}
.coli {
  height: 40px;
  top: 30px;
  border-radius: 20px;
}
